body
{
	color: Black;
	font-size: 12px;
}
.gltitle
{
	/*width: 98%;*/
	font-size: 14px;
	background-color: #F4F4F4;
	border-bottom: 1px solid #D0D0D0;
	height: 22px;
	line-height: 22px;
	min-width: 750px; *width:expression( document.body.clientWidth < 800 ? "800px":"100%");
overflow:hidden;
}
.glline
{ /*width: 98%;*/
	font-size: 14px;
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	min-width: 750px; *width:expression( document.body.clientWidth < 800 ? "800px":"100%");
overflow:hidden;
}
.BGW
{
	background-color: White;
}
.BGG
{
	background-color: #BDEDFF;/*#F3F3F3;*/
}
.BGS
{
	background-color: #BDEDFF;
}
.cname
{
	float: left;
	padding: 0px 15px;
	line-height: 22px;
	height: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cpadding16
{
	padding: 0px 16px 0px 15px;
}
.cpadding17
{
	padding: 0px 16px 0px 16px;
}
.w40
{
	width: 60px;
}
.w60
{
	width: 60px;
}
.w90
{
	width: 90px;
}
.w120
{
	width: 120px;
}
.w160
{
	width: 160px;
}
.w220
{
	width: 220px;
}
.w250
{
	width: 250px;
}
.w350
{
	width: 350px;
}
.br
{
	border-right: 1px solid #EBEBEB;
}
.bl
{
	border-left: 1px solid #D0D0D0;
}
.bb
{
	border-bottom: 1px solid #E6E6E6;
}
