body
{
	font-family: 微软雅黑;
}

.cit
{
	/*position: relative;*/
	font-size: 14px;
	font-family: 幼圆;
	font-weight: bolder;
	width: 95%;
	height: 25px;
	line-height: 25px;
	padding-left: 12px;
	background: url(../images/main.png);
	background-repeat: no-repeat;
	border-bottom: 1px solid #73c73a;
	margin-bottom: 5px;
	text-align: left;
}
.cittitle
{
	/*position: relative;*/
	font-size: 14px;
	font-family: 幼圆;
	font-weight: bolder;
	width: 95%;
	height: 25px;
	line-height: 25px;
	padding-left: 12px;
	background: url(../images/main.png);
	background-repeat: no-repeat;
	border-bottom: 1px solid #73c73a;
	margin-bottom: 5px;
	margin-top: 10px;
	text-align: left;
}
.cit2
{
	background-position: -8px -159px;
}
.cit3
{
	background-position: -8px -191px;
}
.cit4
{
	background-position: -8px -223px;
}
.cit5
{
	background-position: -8px -255px;
}
.cit6
{
	background-position: -8px -287px;
}
.citd
{
	/*position: absolute;*/
	margin-top: -25px;
	font-size: 14px;
	font-family: 幼圆;
	height: 25px;
	line-height: 25px; /*width: 100px;*/
	top: 0px;
}
.citd a
{
	text-decoration: none;
	color: #3fa600;
}
.citd2
{
	padding-left: 60px;
}
.citd3
{
	padding-left: 70px;
}
.citd4
{
	padding-left: 80px;
}
.citd5
{
	padding-left: 95px;
}
.cibody
{
	/*position: relative; 	padding-top: 10px;*/
	font-size: 14px;
	font-family: 微软雅黑;
	width: 100%;
	overflow: auto;
}
.positionr
{
	position: relative;
}
.positiona
{
	position: absolute;
}
.cibodyborder
{
	border-top: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}
.ciline
{
	font-family: 微软雅黑;
	float: none;
	width: 95%;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}
.ciline100
{
	font-family: 微软雅黑;
	float: none;
	width: 100%;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}
.ciline96
{
	font-family: 微软雅黑;
	float: none;
	width: 96%;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}
.cilineheight
{
	width: 95%;
	height: 10px;
}
.cilineforcalendar
{
	float: none;
	width: 95%;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}
.cilrforcalendar
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 0px;
	padding-right: 2px;
}
.cilrforcalendar table
{
	border-collapse: collapse;
	border-width: 0px;
}
.cilrforcalendar table th, .cilrforcalendar table td, .cilrforcalendar table tr
{
	border-width: 0px;
}

.cilineheightauto
{
	height: auto;
}
.cilinewithoutbottom
{
	width: 95%;
	line-height: 25px;
	height: 28px;
	margin-top: -1px;
}
.p10
{
	padding: 10px 0;
}
.cill
{
	float: left;
	width: 95px;
	line-height: 25px;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}
.cill
{
	float: left;
	width: 105px;
	line-height: 25px;
	text-align: right;
	padding-right: 5px;
	/*font-weight: bold;*/
}
.cilr
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	padding-right: 2px;
}
.cilr10
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	padding-right: 2px;
	width: 100px;
}
.cilr207
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	padding-right: 2px;
	width: 207px;
}
.cilr11
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	width: 20px;
}
.cilr22
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	width: 40px;
}
.cilr33
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	width: 60px;
}
.cilr4
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	width: 80px;
}
.cilradd
{
	float: right;
	background: url(../images/add.png) -6px -4px no-repeat;
	padding-left: 20px;
}
.cilladd
{
	background: url(../images/add.png) -6px -4px no-repeat;
	padding-left: 20px;
}
.citextalignright
{
	border: 0px;
	border-bottom: 1px solid #bbbbbb;
	height: 23px;
	text-align: right;
}
.citextbox
{
	border: 0px;
	padding-right: 1px;
	border: 1px solid #bbbbbb;
	height: 20px;
	line-height: 20px;
}
.ci100
{
	width: 100px;
}
.ci150
{
	width: 150px;
}
.ci200
{
	width: 200px;
}
.ci250
{
	width: 250px;
}
.ci300
{
	width: 300px;
}
.ci350
{
	width: 350px;
}
.citextboxwidth
{
	margin-top: 1px; /*border: 1px solid #DDDDDD;*/
	text-align: right;
	height: 20px;
	width: 114px;
}
.cidpl
{
	border: 1px solid #bbbbbb;
	margin-top: 3px;
}
.cisave
{
	line-height: 25px;
	padding-left: 110px;
	padding-bottom: 15px;
}

.cill2
{
	float: left;
	width: 300px;
	line-height: 25px;
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}
.cill2sub
{
	float: left;
	width: 285px;
	line-height: 25px;
	text-align: left;
	padding-left: 30px;
	font-weight: bold;
	color: Blue;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}
.cilr2
{
	float: left;
	width: 120px;
	line-height: 25px;
	height: 25px;
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}
.cilr3
{
	float: left;
	width: 120px;
	line-height: 25px;
	height: 25px;
	text-align: left;
	padding-left: 5px;
	border-bottom: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}

.cwelcome
{
	font-family: 幼圆;
	font-size: 25px;
	font-weight: bolder;
	color: #3fa600; /*padding-bottom: 20px;*/
}

.cidashed
{
	width: 80%;
	height: 2px;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 1px dashed #999999;
}

.cigv
{
	padding-left: 10px;
	line-height: 25px;
	color: #666666;
}
.cigv a
{
	text-decoration: none;
	color: Blue;
}

.gridTitlebtn
{
	border: 0px;
	border-bottom: 1px solid Blue;
}

.cct
{
	width: 100%;
}
.cct table
{
	border-collapse: collapse;
	border: 1px solid #DDDDDD; /*#73c73a; #C2D3ED;*/
}
.cct table td
{
	line-height: 28px;
	border: 1px solid #DDDDDD;
}
.cctt
{
	width: 100%;
}
.cctt table
{
	border-collapse: collapse;
	border: 1px solid #000000; /*#73c73a; #C2D3ED;*/
}
.cctt table td
{
	line-height: 28px;
	height: 28px;
	text-align: center;
	border: 1px solid #000000;
}
.cctt table tr
{
	height: 28px;
}

.cilinet1 table
{
	border-collapse: collapse;
	border-width: 1px 0 0 1px;
	border-color: #C2D3ED;
	border-style: solid; /*border: 1px solid #DDDDDD; #73c73a; #C2D3ED;*/
	width: 1000px;
}
.cilinet1 table th
{
	line-height: 28px;
	height: 28px;
	padding: 0px 2px;
	border-width: 0 1px 1px 0;
	border-color: #C2D3ED;
	border-style: solid;
}
.cilinet1 table td
{
	line-height: 28px;
	height: 28px;
	padding: 0px 2px;
	border-width: 0 1px 1px 0;
	border-color: #C2D3ED;
	border-style: solid;
}
/*.cilinet1 table tr
{
	height: 28px;
}*/
.cilinet1
{
	float: none;
	width: 95%;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}

.b_line_sub_title_0
{
	float: left;
	width: 2px;
	height: 23px;
	border-bottom: 1px solid #89bbdf;
}
.b_line_sub_title_1
{
	float: left;
	text-align: center;
	line-height: 24px;
	width: 98px;
	height: 24px;
	background-image: url(../images/subtitlebg1.png);
	cursor: pointer;
}
.b_line_sub_title_2
{
	float: left;
	text-align: center;
	line-height: 24px;
	color: #666666;
	width: 98px;
	height: 24px;
	background-image: url(../images/subtitlebg2.png);
	cursor: pointer;
}

.b_line_sub_title
{
	width: 100%;
	height: 23px;
	overflow: hidden;
}


.coverbody
{
	position: relative;
	background: url(images/apoint.png) repeat;
	width: 100%;
}
.covercontent
{
	position: absolute;
	width: 480px;
	height: 280px;
	padding: 10px;
	background: url(images/cover.png) no-repeat;
	z-index: 1001;
}

.cilrforbox
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	padding-right: 2px;
	color: Gray;
}
.cilrforbox a
{
	text-decoration: none;
	color: Black;
}
.cilrcal
{
	float: left;
	line-height: 25px;
	text-align: left;
	padding-left: 5px;
	padding-right: 2px;
}
.cilrcal table
{
	width: 120px;
}


.Freezing
{
	position: relative;
	table-layout: fixed;
	top: expression(this.offsetParent.scrollTop);
	z-index: 10;
}

.Freezing th
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px;
}

.cgridviewcellpadding
{
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
}

.cilineforgridview
{
	float: none;
	width: auto;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}
.cilineforgridview table td a
{
	text-decoration: none;
}
.cilineforgridview table td a:hover
{
	text-decoration: none;
}
.cilineforgridview table td a:visited
{
	text-decoration: none;
	color: Blue;
}
.cilineforgridview table
{
	border-collapse: collapse;
	border-width: 1px 0 0 1px;
	border-color: #C2D3ED;
	border-style: solid; /*border: 1px solid #DDDDDD; #73c73a; #C2D3ED;*/
}
.cilineforgridview table th
{
	line-height: 28px;
	height: 28px;
	padding: 0px 2px;
	border-width: 0 1px 1px 0;
	border-color: #C2D3ED;
	border-style: solid;
}
.cilineforgridview table td
{
	line-height: 28px;
	height: 28px;
	padding: 0px 2px;
	border-width: 0 1px 1px 0;
	border-color: #C2D3ED;
	border-style: solid;
}
.cilineforgridview1
{
	float: none;
	line-height: 25px;
	padding-bottom: 3px;
	height: auto;
	overflow: auto;
}
.cilineforgridview1 table
{
	border-collapse: collapse;
	border-width: 1px 0 0 1px;
	border-color: #999999;
	border-style: solid; /*border: 1px solid #DDDDDD; #73c73a; #C2D3ED;*/
}
.cilineforgridview1 table th
{
	line-height: 28px;
	height: 28px;
	padding: 0px 2px;
	border-width: 0 1px 1px 0;
	border-color: #999999;
	border-style: solid;
}
.cilineforgridview1 table td
{
	line-height: 28px;
	height: 28px;
	padding: 0px 2px;
	border-width: 0 1px 1px 0;
	border-color: #999999;
	border-style: solid;
}

.mainNav
{
	width: 95%;
	background: url(../images/b8.gif) top left no-repeat; /*nanbg.gif*/
	padding-left: 10px;
	line-height: 25px;
	margin-bottom: 5px;
	height: 25px;
}
.mainNav ul
{
	list-style-type: none;
	margin-left: 40px;
}
.mainNav ul li
{
	float: left;
	font-size: 14px;
	color: #fff;
	line-height: 22px;
}
.mainNav ul li a
{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	padding: 4px 9px;
	margin: 0 2px;
}
.mainNav ul li a.index
{
	background: url(../images/hover.gif) no-repeat;
	padding: 4px 9px;
	margin: 0 2px;
	color: #3B5995;
}
.mainNav ul li a:hover
{
	background: url(../images/nanbg2.gif) no-repeat;
	padding: 4px 9px;
	margin: 0 2px;
	color: #3B5995;
}
.mainNav ul li a.classmate:hover
{
	background: url(../images/nanbg3.gif) no-repeat;
	padding: 4px 9px;
	margin: 0 2px;
	color: #3B5995;
}

.cigvp /*GridView Page Style*/
{
	font-family: 微软雅黑;
	color: #AAAAAA;
}
.cigvp table
{
	border: none;
}
.cigvp table th
{
	border: none;
}
.cigvp table td
{
	border: none;
}

.caldiv
{
	height: 25px;
	line-height: 25px;
}
.caldiv table
{
	border: none;
}
.caldiv table th
{
	border: none;
	line-height: 25px;
}
.caldiv table td
{
	border: none;
	line-height: 25px;
}

.searchresult
{
	width: 98%;
	background: url(../images/b8.gif) top left no-repeat; /*nanbg.gif*/
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	margin-top: 20px;
}
.sbox
{
	height: 46px;
	color: Blue;
	width: 100%;
	font-size: 30px;
	line-height: 46px;
	text-align: center;
	vertical-align: middle;
	font-weight: bolder;
	border: none;
}
.sibox
{
	height: 100px;
	color: Blue;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	font-weight: bolder;
	border: none;
}

.cbutton
{
	border: none;
	cursor: pointer;
	padding: 0 5px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	width: 100px;
	margin-right: 10px;
	background: url(../images/cbutton.png) 0 0 no-repeat;
}
.csbutton
{
	border: none;
	cursor: pointer;
	padding: 0 5px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	width: 60px;
	margin-right: 10px;
	background: url(../images/csbutton.png) 0 0 no-repeat;
}

.checkImg
{
	width: 160px;
	height: 120px;
	padding: 3px;
	margin: 3px;
	float: left;
	height: auto;
}
.checkImgSub
{
	width: 160px;
	height: 120px;
	border: 2px solid #FFEEEE;
	text-align: center;
}
.checkImgCheck
{
	line-height: 20px;
	font-size: 12px;
}
.checkFL
{
	float: left;
	cursor: pointer;
	border: 2px solid Blue;
	padding: 2px;
}
.checkFR
{
	float: right;
	cursor: pointer;
	border: 2px solid Blue;
}
.ctextboxdate
{
	width: 90px;
	height: 17px;
	line-height: 19px;
	padding-right: 20px; /*border: 1px solid #607A97;*/
}
.clinerightdate
{
	float: left;
	line-height: 21px;
	margin-left: -22px;
	padding-right: 3px;
	padding-top: 3px;
}
.cnewbutton
{
	line-height: 25px;
	height: 25px;
	width: 70px; /*margin: 2px; 	background: url(../images/b7025.png);*/
	cursor: pointer;
	padding: 0px;
	text-align: center;
	font-family: 微软雅黑;
}
.cnewbutton a
{
	text-decoration: none;
	font-family: 微软雅黑;
}
